.DataBaseKoledge {
  background-color: #c7caca;
  color: white;
}

.DataBaseKoledge .cards-wrapper .card {
  background-color: #000000;
}

.DataBaseKoledge .image-wrapper {
    text-align: right;
}
 